{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12" style="text-align: center;">      
        {% for flash_message in app.session.flashbag.get("notice") %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>    
        {% endfor %}
        
        
        <script>
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }
        </script>    

    </div>
    <div class="col-sm-8">
        {% if element == "sondage" %}
            <h1>{{ sondage.titre }}</h1>
            {%for question in sondage.QuestionsSondage %}
                <div class="panel panel-default">
                    <div class="panel-body">{{ question.libelle }}</div>
                    {% for reponse in question.reponses %}
                        {% for rep in reponses_utilisateur %}
                            {% if reponse.id == rep.reponse.id %}
                                <div class="panel-footer alert-success"><i class="glyphicon glyphicon-arrow-right alert-warning"></i> {{ reponse.contenu }}</div>
                            {% else %}
                                <div class="panel-footer">{{ reponse.contenu }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}   
                </div>
            {% endfor %}
        {% endif %}  
        {% if element == "quizz" %}
            {%for question in quizz.questions %}
            <h1>{{ quizz.nom }}</h1>
                <div class="panel panel-default">
                    <div class="panel-body">{{ question.libelle }}</div>
                    {% for reponse in question.ReponsesQuizzz %}
                        {% set i =0 %}
                        {% for rep in reponses_utilisateur %}
                            {% if reponse.id == rep.reponse.id %}
                                {% set i =1 %}
                            {% endif %}
                        {% endfor %} 
                        {% if i == 1 %}
                            <div class="panel-footer alert-success"><i class="glyphicon glyphicon-arrow-right alert-warning"></i> {{ reponse.contenu }}</div>
                        {% else %}
                            <div class="panel-footer">{{ reponse.contenu }}</div>
                        {% endif %}
                    {% endfor %}   
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-4">
        {% if element == "sondage" %}
            <h1>Résultats </h1>
            {%for question in sondage.QuestionsSondage %}
                <div class="panel panel-default">
                    <div class="panel-body">{{ question.libelle }}</div>
                    {% for element in tab %}
                        <div class="panel-footer" id="{{ element.id }}}">
                            <span class="badge">{{ element.1 }}</span>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="col-sm-8">
                    <canvas id="myChart" width="200" height="200"></canvas>
                    <script>
                    var donnees_graph = "{{ donnees_graph }}"; 
                    try {
                        var parse_donnees_graphique = JSON.parse(donnees_graph.replace(/&quot;/g,'"'));
                        var graphique_libelles = [];
                        var graphique_donnees = [];
                        var graphique_couleurs = [];
                        for (var i = 0; i<parse_donnees_graphique.length;i++){
                           graphique_libelles[i] = parse_donnees_graphique[i].contenu;
                           graphique_donnees[i] = parse_donnees_graphique[i][1];
                           graphique_couleurs[i]=getRandomColor();
                        }
                    } catch (e) {
                        console.log(e);
                    }

                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: graphique_libelles,
                            datasets: [{
                                data: graphique_donnees,
                                backgroundColor: graphique_couleurs,
                                borderColor: graphique_couleurs,
                                borderWidth: 1
                            }]
                        }
                    }); 

                   </script>
                </div>
            {% endif %}
        </div>    
        <div class="col-sm-4">
            {% if element == "quizz" %}
                <h1>Résultats </h1>
                <div class="panel panel-default">
                    {% set j=0 %}
                    {% for element in tab %}
                        {% if(element.id>j) %}
                            <div class="panel-body">{{ element.libelle }}</div>
                            {% set j=element.id %}
                        {% endif %}
                        <div class="panel-footer">
                            <span class="badge">{{ element.nbr }}</span>
                        </div>
                    {% endfor %}
                </div>    
        </div>
    </div>
            <div class="col-sm-12">
                <hr>
                <div class="col-sm-12">
                    <h1>Résultats du : {{ quizz.nom }}</h1>
                    {% for question in quizz.questions %}
                        <div class="col-sm-4" style="border:1px solid grey;">
                            <p>{{ question.libelle }}</p>
                            <canvas id="{{ question.id }}" ></canvas>
                        </div>
                    {% endfor %}
                </div>
                <script>
                    {% for question in nbr %}
                        var graphique_couleurs=[];
                        {% for rep in quizz.questions %}graphique_couleurs.push(getRandomColor());{% endfor %}
                        var ctx = document.getElementById("{{ question[0] }}").getContext('2d');
                        var myChart = new Chart(ctx, {
                        type: 'pie',
                                data: {
                                labels: ({{question[1]|json_encode()|raw}}),
                                        datasets: [{
                                        label: '# of Votes',
                                                data: ({{question[2]|json_encode()|raw}}),
                                                backgroundColor: graphique_couleurs,
                                                borderColor: graphique_couleurs,
                                                borderWidth: 1
                                        }]
                                },
                        });

                    {% endfor %}
                </script>
            </div>
                <hr>
                <div class="container">
                    <div class="col-sm-12" style="border:1px solid grey;border-radius: 4px;margin-top:2%;">
                        <h1>Récompenses du <em>{{ quizz.nom }}</em></h1>
                        <div class="list-group">
                            {% for recomp in recompenses %}
                                    <a class="list-group-item">
                                        <h4 class="list-group-item-heading">{{ recomp.nom }}</h4>
                                        <p class="list-group-item-text">{{ recomp.entreprise }}</p>
                                    </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            
        {% endblock %}