{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12" style="text-align: center;">      
            {% for flash_message in app.session.flashbag.get("notice") %}
               <div class="alert alert-success">
                   {{ flash_message }}
               </div>    
            {% endfor %}
          
    </div>
    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="jumbotron" style="text-align: center;">
                    <h2>Vos renseignements</h2>
                    <br>
                    <img src="{{ asset('https://img4.hostingpics.net/thumbs/mini_939016profil.png') }}">
                    <p>
                        {{ utilisateur.nom }}<br>
                        {{ utilisateur.prenom }}<br>
                        {{ utilisateur.mail }}  
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron" style="text-align: center;">
                    <h2>Vos participations</h2>
                    <ul>
                        {% for sondage in sondages %}
                            <li><a href="{{ path("affichageReponsesSondage",{"id": sondage.id}) }}">{{ sondage.titre }}</a></li>
                        {% endfor %}
                    </ul>    
                    <hr>
                    <ul>
                        {% for quizz in quizz %}
                            <li><a href="{{ path("affichageReponsesQuizz",{"id": quizz.id}) }}">{{ quizz.nom }}</a></li>
                        {% endfor %}
                    </ul>    
                    <hr>
                    <ul>
                        {% for enquete in enquetes %}
                            <li>{{ enquete.titre }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
                    <div class="col-sm-6">
                        <div class="jumbotron" style="text-align: center;">
                            <h2>Vos récompenses</h2>
                                <ul>
                                    {% for rec in recompense %}
                                        <li><a href="{{ path("affichageReponsesQuizz",{"id": rec.quizz.id}) }}"><i>{{ rec.quizz.nom }}</i> : </a><a><b>{{ rec.nom }}</b></a></li>
                                    {% endfor %}
                                </ul>    
                                </ul>
                        </div>
                    </div>
        </div>
    </div>
                
                <script>
                    $("#account").removeClass("btn-default").addClass("btn-danger").html("<i class='glyphicon glyphicon-user' id='icon-account'></i> Déconnexion").attr("href","{{ path("deconnexion") }}");
                    $("#icon-account").removeClass("glyphicon-user").addClass("glyphicon-off");
                </script>
{% endblock %}