{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12" style="text-align: center;">        
        <h1>Connexion</h1>
            {% for flash_message in app.session.flashbag.get("notice") %}
               <div class="alert alert-success">
                   {{ flash_message }}
               </div>    
            {% endfor %}
            {% if utilisateur is defined %}
                <div class="alert alert-success">
                    <strong>{{ utilisateur.nom }}</strong> est connecté !
                </div>
                
            {% endif %}
          
    </div>
            <div class="col-sm-12" style="text-align: center;">
                <form action="#" method="POST">
                    <div class="form-group">
                      <label for="email">Adresse mail :</label>
                      <input type="email" name="mail" class="form-control" id="email" required>
                    </div>
                    <div class="form-group">
                      <label for="pwd">Mot de passe :</label>
                      <input type="password" name="pwd" class="form-control" id="pwd" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button type="submit" class="btn btn-default alert-success">Connexion</button>
                </form>
                    <br>
                    <a class="btn btn-primary" href="{{ path("inscriptionUtilisateurs") }}">Pas de compte? Pour s'inscrire c'est ici !</a>
            </div>
{% endblock %}