{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="col-sm-5 col-md-offset-1">
            <a href="{{ path("inscriptionUtilisateurs") }}">Inscription</a>
        </div>
        <div class="col-sm-5 col-ml-offset-2">
            <a href="{{ path("connexionUtilisateurs") }}">Connexion</a>
        </div>
    </div>
        
        
        <style scoped>
            .col-sm-5{
                padding:7%;
                text-align: center;
                font-size: 5vmax;
                height:30vmax;
                opacity: 0.7;
                transition:0.5s;
                box-shadow:1px 1px 1px 1px #000;
                border-radius: 15px;
            }
            .col-sm-5:hover{
                opacity: 1;
            }
            .col-sm-5:first-child{
                background-color: #9900cc;
                color: #33cc66;
            }
            .col-sm-5:last-child{
                background-color: #33cc66;
                color: #9900cc;
            }
            a:hover{
                text-decoration: none;
            }
        </style>
{% endblock %}