{% extends 'base.html.twig' %}

{% block body %}

    
        
    <div class="col-sm-12">
        <div class="col-sm-12">
            <p>Bienvenue sur notre site</p>
        </div>
        {% for theme in themes %}
            <div class="col-sm-3" style="text-align: center;">
                <a class="a-styl col-sm-8 col-md-offset-2" href="{{ path("triTheme",{"id": theme.id}) }}" >
                    <br>
                    {{ theme.nom }}
                    <br><br>    
                </a>
            </div>
        {% endfor %}
        
    </div>
        <script type="text/javascript">
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++ ) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                console.log(color);
                return color;
            }
            
            $(".col-sm-8").each(function() {
                $( this ).css("background-color",getRandomColor());
            });
            
        </script>        
        <style scoped>
            .a-styl{
                font-size: 1.5vmax;
                color:white;
                text-shadow: 0px 0px 9px black;
                font-weight: bold;
                opacity: 0.7;
                transition: 0.4s;
                border-radius: 5px;
           }
           .a-styl:hover{
                text-decoration: none;
                font-size: 1.5vmax;
                color:white;
                text-shadow: 0px 0px 9px black;
                font-weight: bold;
                opacity: 1;
          }
          .a-styl:first-child{
              margin-bottom: 20%;
          }
        </style>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9&appId=1658192607774665";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="col-sm-12" style="text-align:center;">
    <div class="fb-like" data-href="https://www.facebook.com/Ecostat-1557270490979211/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>        
   {% endblock %}
 