{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <h1>Recherche : </h1>  
        <i><h2>{{ recherche }}</h2></i>
        
    </div>
    <div class="col-sm-12">
        <table class="table">
            {% for contenu in contenu_quizz %}
                <tr><td><a href="{{ path("voirQuizz",{"id": contenu.id}) }}">{{ contenu.nom }}</a></td></tr>
            {% endfor %}
            {% for contenu in contenu_sondage %}
                <tr><td><a href="{{ path("voirSondage",{"id": contenu.id}) }}">{{ contenu.titre }}</a></td></tr>
            {% endfor %}
            {% for contenu in contenu_enquete %}
                <tr><td><a href="{{ path("voirEnquete",{"id": contenu.id}) }}">{{ contenu.titre }}</a></td></tr>
            {% endfor %}
            {% for contenu in contenu_theme %}
                <tr><td><a href="{{ path("triTheme",{"id": contenu.id}) }}">{{ contenu.nom }}</a></td></tr>
            {% endfor %}
        </table>
    </div>    
    <style scoped>
        td{
            transition : 0.5s ;
        }
        td:hover{
            background-color:grey;
            color:white;
            font-weight: bolder;
        }
    </style>   
       
{% endblock %}
 