{% extends 'base.html.twig' %}

{% block body %}

    
        
    <div class="col-sm-12">
        <h1>{{ theme.nom }}</h1>
        <em>{{ theme.description }}</em>
        <table class="table">
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Voir/Répondre</th>
            </tr> 
            {% for enquete in enquetes %}
                <tr class="enquete">
                    <td>{{ enquete.titre }}</td>
                    <td>{{ enquete.description }}</td>
                    <td>
                        <a href="{{ path("repondreEnquete",{"id": enquete.id}) }}" class="btn btn-sm btn-success glyphicon glyphicon-eye-open"></a>
                    </td>
                </tr>
            {% endfor %}
            {% for sondage in sondages %}
                <tr class="sondage">
                    <td>{{ sondage.titre }}</td>
                    <td>{{ sondage.description }}</td>
                    <td>
                        <a href="{{ path("voirSondage",{"id": sondage.id}) }}" class="btn btn-sm btn-success glyphicon glyphicon-eye-open"></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
        
        <style scoped>
            table,tr,th,td{
                text-align: center;
            }
            .enquete{
                background-color: #97D5FF;
            }
            .sondage{
                background-color: #FFE197;
            }
        </style>
    
{% endblock %}
 