{% extends 'base.html.twig' %}

{% block body %}

    
     
    <div class="col-sm-12">
        <a href=" {{ path("listerEnquetes")}}" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"> </span> Retour</a>
    </div>
    <div class="col-sm-12"><br></div>
    <div class="col-sm-12">     
        <h1>{{ enquete.titre }}</h1>
        <p>{{enquete.description }}</p>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>Nom</th>
                <th>Date de fin</th>
                <th>Voir / Répondre</th>
            </tr>
            {% for sequence in sequences %}
                <tr>
                    <td>{{ sequence.nom }}</td>
                    <td class="date">{{ sequence.dateFin|date('Y-m-d') }}</td>
                    <td class="bouton">
                        <a href="{{ path("voirQuestion",{"id": sequence.id}) }}" class="btn btn-sm btn-success glyphicon glyphicon-eye-open"></a>
                    </td>
                </tr>
            {% endfor %}   
        </table>
    </div>
    <style scoped>
        table,tr,th,td{
            text-align: center;
        }
    </style>
    <script>
        $(".date").each(function(){
            var dateC=$(this).html();
            var ndateC = new Date(dateC);
            var maintenant=new Date();
            var jour=maintenant.getDate();
            var mois=maintenant.getMonth();
            var an=maintenant.getFullYear();

            var s = new Date(an,mois,jour);
            
            if (s>ndateC) {
               $(this.parentNode).addClass("bg-danger");
                var se = $(this.parentNode).find(".btn");
                $(se).removeAttr("href");
                $(se).removeClass("btn-success");
                $(se).addClass("btn-danger");
            }
            if(s<ndateC){
                $(this.parentNode).addClass("bg-success");
            }
            if (s===ndateC) {
                $(this.parentNode).addClass("bg-warning");
            }
        });
    </script>
    
{% endblock %}
