{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashbag.get("notice") %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>    
    {% endfor %}
        
    <div class="col-sm-12">
        
        <h1>Enquêtes</h1>
        <div class="col-sm-12">
        
            <table class="table">
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Voir/Répondre</th>
                </tr>   
                {% for enquete in enquetes %}
                    <tr>
                    <td>{{ enquete.titre }}</td>
                    <td>{{ enquete.description }}</td>
                    <td>
                        <a href="{{ path("repondreEnquete",{"id": enquete.id}) }}" class="btn btn-sm btn-success glyphicon glyphicon-eye-open"></a>
                    </td>
                </tr>
                {% endfor %}
            </table>   
        </div>
        
        
    </div>
    
{% endblock %}
