{% extends 'base.html.twig' %}

{% block body %}
    
    
    <div class="col-sm-12">
        {% for flash_message in app.session.flashbag.get("notice") %}
            <div class="alert alert-success" style="text-align: center;">
                {{ flash_message }}
            </div>    
        {% endfor %}
    </div>
    
    
{% endblock %}
