{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-sm-12">
        <h1>{{ nom_enquete }}</h1>
        {% for flash_message in app.session.flashbag.get("notice") %}
            <div class="alert alert-success" style="text-align: center;">
                {{ flash_message }}
            </div>    
        {% endfor %}
    </div>
    <div class="col-sm-12">     
        <h2>{{ sequence.nom }}</h2>
        <div class="col-sm-8">
            <form method="POST" action="{{ path("enregistrerReponse")}}">
            {%for question in sequence.questions %}
                <div class="panel panel-default">
                    <div class="panel-body">{{ question.intitule }}</div>
                        {% for reponse in question.reponses %}
                            <div class="panel-footer"><input type="radio" name="{{question.id}}" value="{{ reponse.id }}" required>{{ reponse.contenu }} <i class="sl"></i></a></div>
                        {% endfor %}    
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-lg btn-primary">
            </form>
        </div>
        <div class="col-sm-4">
            <h2>Aide</h2>
            <p>Pour répondre aux questions , il vous suffit de sélectionner votre réponse. </p>
        </div>
        
                <style scoped>
                    .panel-footer{
                        transition : 0.5s ;
                    }
                    .panel-footer:hover{
                        background-color:grey;
                        color:white;
                        font-weight: bolder;
                    }
                </style>
    </div>
    
{% endblock %}
