{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashbag.get("notice") %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>    
    {% endfor %}
    {% for flash_message in app.session.flashbag.get("error") %}
        <div class="alert alert-warning">
            {{ flash_message }}
        </div>    
    {% endfor %}
        
    <div class="col-sm-12">
        
        <h1>Quizz</h1>
        
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Voir/Répondre</th>
                </tr>   
                {% for quizz in quizz %}
                    <tr>
                    <td>{{ quizz.nom }}</td>
                    <td>{{ quizz.description }}</td>
                    <td>
                        <a href="{{ path("voirQuizz",{"id": quizz.id}) }}" class="btn btn-sm btn-success glyphicon glyphicon-eye-open"></a>
                    </td>
                </tr>
                {% endfor %}
            </table>  
        </div>
        
        
    </div>
    
{% endblock %}
