{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12" style="text-align: center;">        
        <h1>{{ quizz.nom }}</h1>
        <p>{{ quizz.description }}</p>
            {% for flash_message in app.session.flashbag.get("notice") %}
               <div class="alert alert-success">
                   {{ flash_message }}
               </div>    
            {% endfor %}
          
    </div>
            <div class="col-sm-8">
                <form method="POST" action="{{ path("enregistrerReponseQuizz",{"id": quizz.id})}}">
                    {%for question in quizz.questions %}
                        <div class="panel panel-default">
                            <div class="panel-body">{{ question.libelle }}</div>
                                {% for reponse in question.ReponsesQuizzz %}
                                    <div class="panel-footer"><input type="radio" name="{{question.id}}" value="{{ reponse.id }}" required>{{ reponse.contenu }} <i class="sl"></i></a></div>
                                {% endfor %}   
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-lg btn-primary">
                </form>
            </div>
                <style scoped>
                    .panel-footer{
                        transition : 0.5s ;
                    }
                    .panel-footer:hover{
                        background-color:grey;
                        color:white;
                        font-weight: bolder;
                    }
                </style>
{% endblock %}