{% extends 'base.html.twig' %}

{% block body %}
    <!-- on récupère si nécessaire les messages de succès ou d'erreur -->
    {% for flash_message in app.session.flashbag.get("notice") %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>    
    {% endfor %}
    {% for flash_message in app.session.flashbag.get("error") %}
        <div class="alert alert-warning">
            {{ flash_message }}
        </div>    
    {% endfor %}
        
    <div class="col-sm-12">
        
        <h1>Sondages</h1>
        <!-- on affiche tous les sondages sous forme de liste dans un tableau -->
    <table class="table">
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Voir/Répondre</th>
        </tr>   
        <!-- on accède aux données renvoyées par le controller -->
        {% for sondage in sondages %}
            <tr>
            <td>{{ sondage.titre }}</td>
            <td>{{ sondage.description }}</td>
            <td>
                <a href="{{ path("voirSondage",{"id": sondage.id}) }}" class="btn btn-sm btn-success glyphicon glyphicon-eye-open"></a>
            </td>
        </tr>
        {% endfor %}
    </table>    
        
        
    </div>
    
{% endblock %}
