{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12" style="text-align: center;">        
        <h1>Sondage</h1>
            {% for flash_message in app.session.flashbag.get("notice") %}
               <div class="alert alert-success">
                   {{ flash_message }}
               </div>    
            {% endfor %}
        {{ form(formulaire) }}    
    </div>
{% endblock %}