{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-12" style="text-align: center;">  
         <!-- on affiche les infos sur le sondage -->
        <h1>{{ sondage.titre }}</h1>
        <p>{{ sondage.description }}</p>
         <!-- on récupère si nécessaire les messages de succès ou d'erreur -->
            {% for flash_message in app.session.flashbag.get("notice") %}
               <div class="alert alert-success">
                   {{ flash_message }}
               </div>    
            {% endfor %}
          
    </div>
            <div class="col-sm-8">
                 <!-- le formulaire permet de capter la réponse de l'utilisateur au moment où il aura cliquer sur le bouton Valider -->
                <form method="POST" action="{{ path("enregistrerReponseSondage",{"id": sondage.id}) }}">
                    {%for question in sondage.QuestionsSondage %}
                        <div class="panel panel-default">
                            <div class="panel-body">{{ question.libelle }}</div>
                                {% for reponse in question.reponses %}
                                    <div class="panel-footer"><input type="radio" name="{{question.id}}" value="{{ reponse.id }}" required>{{ reponse.contenu }} <i class="sl"></i></a></div>
                                {% endfor %}   
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-lg btn-primary">
                </form>
            </div>
                    <!-- un peu de style pour l'affichage des réponses à la question -->
                <style scoped>
                    .panel-footer{
                        transition : 0.5s ;
                    }
                    .panel-footer:hover{
                        background-color:grey;
                        color:white;
                        font-weight: bolder;
                    }
                </style>
{% endblock %}